<h1><%= @track.title %></h1>

<ul>
    <li>Album: <a href="<%= album_url(@track.album) %>"><%= @track.album.title %></a></li>
    <li>Ord: <%= @track.ord %></li>
    <% if !@track.bonus %>
        <li>Track type: Regular </li>
    <% else %>
        <li>Track type: Bonus</li>
    <% end %>
    
</ul>
